{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "indent": ["error", 2],
    "import/prefer-default-export": 0,
    "no-console": 0,
    "consistent-return": 0,
    "import/export": 0,
    "curly": 0,
    "nonblock-statement-body-position": 0,
    "implicit-arrow-linebreak": 0,
    "no-underscore-dangle": 0
  }
}
